@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Warang+Citi&family=Outfit:wght@100..900&family=Playwrite+AU+SA:wght@100..400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset default browser styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  scroll-behavior: smooth;
}

html, body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

/* Optional: Ensure images don’t overflow */
img {
  max-width: 100%;
  display: block;
}

/* Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
